*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Kanit;
}

body {
  background-color: #0F1729 !important;
}

.a-no-style {
  all: unset;
  cursor: pointer;
}

.a-no-style:hover {
  all: unset;
}

@font-face {
  font-family: "Kanit";
  font-style: normal;
  font-weight: 400;
  src: local(""),url("../public/fonts/Kanit-Regular.ttf");
}

.reset-default-btn {
  all: unset;
}

.borderb {
  border: 1px solid white
}

.content {
  width: 100%;
  min-height: 100vh;
  margin-left: 60px;
}

.user {
  display:flex;
}

.avatar-img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  object-fit: cover;
}

.greeting {
  text-align: right;
}

.greeting span:first-child{
  font-size: 14px;
}

#username {
  color:#0CA6E9;
  font-weight: 700;
}

.bci {
  color: white;
  text-decoration: none; 
}

.greeting-container {
  height: 50px;
}

.date-range {
  color: black;
  border-radius: 20px;
}

.dropdown-container {
  position: relative;
  display: flex;
  text-align: center;
  padding: 0px 15px ;
  z-index: 10;
}

.dropdown-container:hover {
  cursor: pointer;
  background-color: rgba(37, 64, 133, 0.5);
}

.dropdown-content{
  top: 28px;
  right: 0px;
  padding: 20px;
  text-align: left;
  display: none;
  position: absolute;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.30);
  backdrop-filter: blur(35px);
  min-width: fit-content;
  max-width: 90px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 10;
}

.toggler {
  display: flex;
  width: 100%;
  max-width: 131.42px;
  gap: 5px;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.show {
  display:flex;
  flex-direction: column;
  gap: 10px;
}

.backdrop , .backdrop-dark{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100vw;
  height: 100vh;
  display: none;
}

.backdrop-dark {
  background-color: rgba(25, 44, 91, 0.5);
}

.checkbox-container {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  height: 20px;
  width: 20px;
  border-radius: 4px;
  background-color: #eee;
}

.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}

.checkbox-container input:checked ~ .checkmark {
  background-color: rgba(4, 100, 252, 1);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-container .checkmark:after {
  left: 8px;
  top: 2px;
  width: 6px;
  height: 14px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.colored-label {
  color: black;
  text-align: center;
  width: 100px;
  padding: 2px 32px;
  border-radius: 30px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 26px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #737984;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #4FC96E;
}

input:focus + .slider {
  box-shadow: 0 0 1px #4FC96E;
}

input:checked + .slider:before {
  -webkit-transform: translateX(34px);
  -ms-transform: translateX(34px);
  transform: translateX(34px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.table-row {
  padding: 15px 0px;
  border-radius: 8px;
  background-color: rgba(29, 40, 58, 1);
  transition: all 0.2 ease-in-out;
}

.table-row:hover {
  cursor: pointer;
  background-color: hsl(217, 33%, 20%);
}

.table-row div {
  margin: 0px;
  border: 1px solid transparent;
  white-space: nowrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px;
}

.table-header {
  user-select: none;
  margin: 0px;
  width: fit-content;
  background-color: rgba(25, 44, 91, 0.50);
  border-radius: 12px;
  border: 1px solid #0CA6E9;
  padding: 5px 15px;
  white-space: nowrap;
  display: flex;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  height: 28px;
}

.table-row,.table-head {
  display: flex;
  gap: 10px;
  flex-wrap: nowrap;
}

.arrow {
  display: flex;
}

.table-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
