<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/global.css">
  <link rel="stylesheet" href="../css/chapter-edit-page.css">
  <link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../lib/datepicker/daterangepicker.css">
  <script type="text/javascript" src="../lib/jquery/jquery-3.7.0.js"></script>
  <script type="text/javascript" src="../lib/datepicker/moment.min.js"></script>
  <script type="text/javascript" src="..lib/datepicker/daterangepicker.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
  <title>Document</title>
</head>

<body class="d-flex">
  <sidebar-component></sidebar-component>

  <div class="content ">
    <div class="container py-4 gap-4 content d-flex flex-column">
      <div class="greeting-container d-flex gap-2 justify-content-end align-items-center w-100">
        <div class="greeting ">
          <span>Hello,</span>
          <br>
          <span id="username">ชรินดา สนธิดี </span>
        </div>
        <img class="avatar-img" src="../public/imgs/avatar-placeholder.jfif" alt="avatar">
      </div>

      <nav class="w-100 bg-transparent p-0" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item"><a class="bci" href="#">My Groups</a></li>
          <li class="breadcrumb-item"><a class="bci" href="#">Test</a></li>
          <li class="breadcrumb-item"><a class="bci" href="#">Test</a></li>
        </ol>
      </nav>
      <section>
        <h5 class="d-flex align-items-center gap-3">
          <img src="../public/imgs/chart-logo.png" alt="chart-logo">
          Variables Expression Statement
        </h5>
        <div class="row gx-2 ">
          <div class="row col-12 p-2 dateborder">
            <div class="col-6  ">
              <img src="../public/imgs/checkmark.png" alt="checkmark">
              Allow access exercise<br>
              <span class="datefont pt-2">Start date - End date</span>
              <div class="dateinput">
                <input type="text" name="datefilter" value="" placeholder="mm/dd/yyyy - mm/dd/yyyy" />
              </div>
              <script type="text/javascript">
                $(function () {

                  $('input[name="datefilter"]').daterangepicker({
                    autoUpdateInput: false,
                    locale: {
                      cancelLabel: 'Clear'
                    }
                  });

                  $('input[name="datefilter"]').on('apply.daterangepicker', function (ev, picker) {
                    $(this).val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));
                  });

                  $('input[name="datefilter"]').on('cancel.daterangepicker', function (ev, picker) {
                    $(this).val('');
                  });

                });
              </script>
            </div>
            <div class="col-6  ">
              <img src="../public/imgs/checkmark.png" alt="checkmark">
              Allow access exercise<br>
              <span class="datefont pt-2">Start date - End date</span>
              <div class="dateinput">
                <input type="text" name="datefilter" value="" placeholder="mm/dd/yyyy - mm/dd/yyyy" />
              </div>
              <script type="text/javascript">
                $(function () {

                  $('input[name="datefilter"]').daterangepicker({
                    autoUpdateInput: false,
                    locale: {
                      cancelLabel: 'Clear'
                    }
                  });

                  $('input[name="datefilter"]').on('apply.daterangepicker', function (ev, picker) {
                    $(this).val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));
                  });

                  $('input[name="datefilter"]').on('cancel.daterangepicker', function (ev, picker) {
                    $(this).val('');
                  });

                });
              </script>
            </div>
            <div class="justify-content-end d-flex gap-1 pt-2">
              <button class="btn btn-primary btn-common" id="saveButton">Save</button>
            </div>
          </div>
        </div>
        <!-- <div class="row " style="margin-left: -40px; margin-right: -1rem;">
          <div class="col-6 mt-2  ">
            <div class=" editchapter px-2 pb-2">
              <div class="borderb ">
                <p>Level 1 - Basic</p>
                <div class="form-check  mt-2 ">
                  <input class="form-check-input" type="checkbox" value="" id="check1">
                  <label class="form-check-label" for="check1">
                    Check 1
                  </label>
                  <button class="btn-view">View</button>
                </div>
                <div class="form-check  mt-2 ">
                  <input class="form-check-input" type="checkbox" value="" id="check2">
                  <label class="form-check-label" for="check2">
                    Check 2
                  </label>
                  <button class="btn-view">View</button>
                </div>
                <div class="form-check  mt-2">
                  <input class="form-check-input" type="checkbox" value="" id="check3">
                  <label class="form-check-label" for="check3">
                    Check 3
                  </label>
                  <button class="btn-view">View</button>
                </div>
              </div>
              <div class="justify-content-end gap-1 d-flex">
                <button class="btn btn-primary btn-common" id="updateButton">Update</button>
                <button class="btn-addlab" id="editButton">
                  <img src="../public/imgs/add.png" alt="Edit Icon">
                  Add Lab
                </button>
              </div>
            </div>
          </div>
          <div class="col-6 mt-2 ">
            <div class=" editchapter px-2 pb-2">
              <div class="borderb ">
                <p>Level 2 - Middle</p>
                <div class="form-check  mt-2 ">
                  <input class="form-check-input" type="checkbox" value="" id="check1">
                  <label class="form-check-label" for="check1">
                    bianry hex
                  </label>
                  <button class="btn-view">View</button>
                </div>
                <div class="form-check  mt-2 ">
                  <input class="form-check-input" type="checkbox" value="" id="check2">
                  <label class="form-check-label" for="check2">
                    Money
                  </label>
                  <button class="btn-view">View</button>
                </div>
                <div class="form-check  mt-2">
                  <input class="form-check-input" type="checkbox" value="" id="check3">
                  <label class="form-check-label" for="check3">
                    multi word
                  </label>
                  <button class="btn-view">View</button>
                </div>
              </div>
              <div class="justify-content-end gap-1 d-flex">
                <button class="btn btn-primary btn-common" id="updateButton">Update</button>
                <button class="btn-addlab" id="editButton">
                  <img src="../public/imgs/add.png" alt="Edit Icon">
                  Add Lab
                </button>
              </div>
            </div>
          </div>
          <div class="col-6 mt-2  ">
            <div class=" editchapter px-2 pb-2">
              <div class="borderb ">
                <p>Level 3 - Intermediate</p>
                <div class="form-check  mt-2 ">
                  <input class="form-check-input" type="checkbox" value="" id="check1">
                  <label class="form-check-label" for="check1">
                    bianry hexeiei
                  </label>
                  <button class="btn-view">View</button>
                </div>
              </div>
              <div class="justify-content-end gap-1 d-flex">
                <button class="btn btn-primary btn-common" id="updateButton">Update</button>
                <button class="btn-addlab" id="editButton">
                  <img src="../public/imgs/add.png" alt="Edit Icon">
                  Add Lab
                </button>
              </div>
            </div>
          </div>
          <div class="col-6 mt-2  ">
            <div class=" editchapter px-2 pb-2">
              <div class="borderb ">
                <p>Level 4 - Expert</p>
                <div class="form-check  mt-2 ">
                  <input class="form-check-input" type="checkbox" value="" id="check1">
                  <label class="form-check-label" for="check1">
                    Check 1
                  </label>
                  <button class="btn-view">View</button>
                </div>
                <div class="form-check  mt-2 ">
                  <input class="form-check-input" type="checkbox" value="" id="check2">
                  <label class="form-check-label" for="check2">
                    Check 2
                  </label>
                  <button class="btn-view">View</button>
                </div>
                <div class="form-check  mt-2">
                  <input class="form-check-input" type="checkbox" value="" id="check3">
                  <label class="form-check-label" for="check3">
                    Check 3
                  </label>
                  <button class="btn-view">View</button>
                </div>
                <div class="form-check  mt-2">
                  <input class="form-check-input" type="checkbox" value="" id="check3">
                  <label class="form-check-label" for="check3">
                    Check 4
                  </label>
                  <button class="btn-view">View</button>
                </div>
              </div>
              <div class="justify-content-end gap-1 d-flex">
                <button class="btn btn-primary btn-common" id="updateButton">Update</button>
                <button class="btn-addlab" id="editButton">
                  <img src="../public/imgs/add.png" alt="Edit Icon">
                  Add Lab
                </button>
              </div>
            </div>
          </div>
          <div class="col-6 mt-2  ">
            <div class=" editchapter px-2 pb-2">
              <div class="borderb " id="chapterContainer">
                <p>Level 5 - Professional</p>
                <div class="form-check  mt-2 ">
                  <input class="form-check-input" type="checkbox" value="" id="check1">
                  <label class="form-check-label" for="check1">
                    number fun
                  </label>
                  <button class="btn-view">View</button>
                </div>
                <div class="form-check  mt-2 ">
                  <input class="form-check-input" type="checkbox" value="" id="check2">
                  <label class="form-check-label" for="check2">
                    id card
                  </label>
                  <button class="btn-view">View</button>
                </div>
              </div>
              <div class="justify-content-end gap-1 d-flex">
                <button class="btn btn-primary btn-common" id="updateButton">Update</button>
                <button class="btn-addlab" id="editButton">
                  <img src="../public/imgs/add.png" alt="Edit Icon">
                  Add Lab
                </button>
              </div>
            </div>
          </div>
        </div> -->
        <div class="row gx-2" id="container" style="margin-left: -20px; margin-right: 4px; " >
          
        </div>
    </div>
    </section>
  </div>
  </div>
  <script src="../lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../components/SidebarComponent.js"></script>
  <script src="../js/chapter-edit-page.js"></script>
</body>

</html>